---
import BaseHead from "../../components/BaseHead.astro";
---
<!DOCTYPE html>
<html lang="en">
<head>
    <BaseHead title="Prompt" description="Prompt description"></BaseHead>
</head>
<body>
    
</body>
</html>