---
import BaseHead from '../../components/BaseHead.astro';
import Form from '../../components/Form.astro';
import Footer from '../../components/Footer.astro';
import Header from '../../components/Header.astro';
---

<!DOCTYPE html>
<html lang="es">
<head>
     <!-- Google tag (gtag.js) -->
     <script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-98F656TD2V"
     ></script>
     <script type="text/partytown">
       window.dataLayer = window.dataLayer || [];
       function gtag() {
         dataLayer.push(arguments);
       }
       gtag("js", new Date());
 
       gtag("config", "G-98F656TD2V");
     </script>
    <BaseHead title='PromptPhi | Contacto' description='Contacto con nosotros'>
</head>
<body>
    <Header/>
    <main class="mt-space-3xl">
        <div class="container">
            <h1 class="mb-space-l">Contacto</h1>
            <Form/>
        </div>

    </main>

    <Footer/>
</body>

</html>