---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a href={href} class:list={['d-flex',className, { active: isActive }]} {...props}>
	<slot />
</a>
<style>
	a {
		text-decoration: none;
		color: var(--color-slate-50);
		--gutter:var(--space-2xs);
	}
	a.active {
		font-weight: bolder;
		padding-block: var(--space-2xs);
		border-bottom: 2px solid var(--color-primary);
		
	}
</style>
