---
import { ArrowRight } from 'lucide-astro'
---
<div class="container">
    <h1 class="hero-title">Domina la Interacción con la IA: Encuentra  <span class="hero-title-arrow p-space-3xs"><ArrowRight color="hsl(0, 0%, 5%)"/></span> tu <span class="hero-title-prompt">Prompt</span> Perfecto</h1>
    <p class="mt-space-s">Optimiza Tu Experiencia & Encuentra los Mejores Prompts para Desarrollar, Jugar & Potenciar tu Creatividad con la Inteligencia Artificial.</p>
</div>