/* Typography */
$text-sizes: (
  "size--1": clamp(0.8331rem, 0.8265rem + 0.0332vw, 0.8438rem),
  "base": clamp(1rem, 0.9219rem + 0.3906vw, 1.125rem),
  "size-1": clamp(1.2rem, 1.0129rem + 0.9355vw, 1.4994rem),
  "size-2": clamp(1.44rem, 1.0908rem + 1.7461vw, 1.9988rem),
  "size-3": clamp(1.7281rem, 1.143rem + 2.9258vw, 2.6644rem),
  "size-4": clamp(2.0738rem, 1.1499rem + 4.6191vw, 3.5519rem),
  "size-5": clamp(2.4881rem, 1.0838rem + 7.0215vw, 4.735rem),
);

/* Space */
$spaces: (
"space-0": 0,
"space-auto": auto,
  "space-3xs": clamp(0.25rem, 0.2109rem + 0.1953vw, 0.3125rem),
  "space-2xs": clamp(0.5rem, 0.4609rem + 0.1953vw, 0.5625rem),
  "space-xs": clamp(0.75rem, 0.6719rem + 0.3906vw, 0.875rem),
  "space-s": clamp(1rem, 0.9219rem + 0.3906vw, 1.125rem),
  "space-m": clamp(1.5rem, 1.3828rem + 0.5859vw, 1.6875rem),
  "space-l": clamp(2rem, 1.8438rem + 0.7813vw, 2.25rem),
  "space-xl": clamp(3rem, 2.7656rem + 1.1719vw, 3.375rem),
  "space-2xl": clamp(4rem, 3.6875rem + 1.5625vw, 4.5rem),
  "space-3xl": clamp(6rem, 5.5313rem + 2.3438vw, 6.75rem),
);

/* Colors */
$primary: (
"color-primary": #F6CD76,
"color-secondary": #00CFFF,
);

/* Neutral */
$neutral:(
'color-slate-50': hsl(210, 40%, 98%),
'color-slate-300': hsl(213, 27%, 84%),
'color-slate-600': hsl(0, 0%, 12%),
'color-slate-950': hsl(0, 0%, 5%),
);