.list-tool{
    &__img{
        aspect-ratio: 3 / 2;
    }

    &__text{
        position: relative;
    }
    &__link::after{
        content: '';
        inset: 0;
        position: absolute;
    }
}

.title-tool{
    padding-top:9.5rem;
}