.prompt{

    &-title{
        --a-horizontal:space-between;
        & label{
            font-weight:var(--fw-semiBold);
            font-size: var(--size-1);
        }
    }

    &-content{
        border-radius: var(--radius);
    }


}

.copy-btn{
    all: unset;
    cursor: pointer;
    background-color: transparent;
    padding: var(--space-2xs);
    color: var(--color-slate-300);
    transition: .3s ease;
    border: 1px solid var(--color-slate-300);
    border-radius: var(--radius);
    &:hover{
        color: var(--color-slate-50);
    }

    & svg{
        vertical-align: sub;
    }
}