@use '../01-abstracts/mixins' as ab;

.tag-hero{
    position: sticky;
    top: 8rem;
    z-index: 11;
    background-color: var(--color-slate-transparent);
    backdrop-filter: blur(8px);
    @include ab.breakpoint(custom){
        top: 6rem;
    }

    ul{
        flex-wrap: nowrap;
        overflow-x: auto;
    }
     @include ab.breakpoint-down(sm){
        ul::after{
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            background:var(--color-slate-950);
            width: 4rem;
            height: 100%;
            -webkit-mask-image: linear-gradient(90deg,transparent,rgb(255, 255, 255) 80%);
            mask-image: linear-gradient(90deg,transparent,rgb(255, 255, 255) 80%);
        }
    }
}